body {
  font-family: Arial, Helvetica, sans-serif; }

.coverPage {
  background-size: cover;
  background-image: url("https://source.unsplash.com/random/915x620");
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 740px;
  height: 425px; }

.registerPage {
  background: url(../images/Computer.png) no-repeat;
  background-size: 100%;
  height: 425px; }
#txtEmail{
    width: 90%;
}
#txtPassword {
    width: 90%;
}
.loginPage {
    background: url(../images/Computer.png) no-repeat;
    background-size: 100%;
    height: 425px;
}

.container {
  margin: auto;
  margin-top: 10px;
  background-color:black;
  max-width: 630px;
  border: 1px solid black;
  box-shadow: 4px 4px 9px black; }

.green {
  color: forestgreen;
  text-shadow: 1px 1px yellow; }

.ML100 {
  margin-left: 100px; }

.ML10 {
  margin-left: 10px; }

.MT100 {
  margin-top: 100px; }

.MT50 {
  margin-top: 50px; }

.MT20 {
  margin-top: 20px; }

.label {
  width: 100px;
  font-size: 14px; }

.row {
  padding: 5px; }

.flex {
  display: flex; }

.inlineBlock {
  display: inline-block; }

.info {
  font-size: 12px; }

.PT20 {
  padding-top: 20px; }

.inputElements {
  position: relative;
  margin: auto;
  padding-left: 200px;
  top: 125px;
  min-width:410px;
  max-width: 410px;
  height: 225px; }

.banner {
  font-size: 2em;
  font-family: 'Times New Roman';
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px; }

.thankyou {
  font-family: 'Heebo'; }

.register {
  font-size: 1em;
  font-family: 'Heebo';
  text-align: center;
  padding: 10px;
  background-color: silver;
  color: gray; }

.link {
  color: black;
  text-decoration: none; }

.link:hover {
  color: yellow; }

.ref {
  color: black; }
